/* ==========================================
   HERO SECTION
========================================== */

.hero{

    max-width:900px;

    margin:80px auto;

    text-align:center;

    padding:20px;

}

.hero h1{

    font-size:56px;

    line-height:1.2;

    color:var(--secondary);

    margin-bottom:20px;

}

.hero p{

    font-size:20px;

    color:#64748B;

    margin-bottom:40px;

    line-height:1.8;

}

.primary-btn{

    background:var(--primary);

    color:white;

    border:none;

    padding:18px 40px;

    border-radius:var(--radius);

    font-size:18px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}

.primary-btn:hover{

    transform:translateY(-2px);

    box-shadow:var(--shadow);

}